@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --black: #000000;
  --red: #ff0000;
  --coral: #383beed8;
  --gradient: linear-gradient(90deg, var(--red), var(--coral));
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto';
  scroll-behavior: smooth;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  font-size: 90%;
}
body{
  color: 10rem 9% 2rem;
}
body::-webkit-scrollbar{
  display: none;
}
.heading{
  font-size: 2.2rem;
  font-weight: 500;
  background-color: black;
  color: #fff;
  padding: 10px 20px;
}
/* Nvabar */
.header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #000;
}
.logo{
  font-weight: bolder;
  padding-left: 2%;
  font-size: 30px;
  color: #fff;
}
.navbar a{
  font-size: 1.2rem;
  margin-left: 1rem;
  font-weight: 700;
  color: #fff;
}
.navbar a:hover,
.navbar a.active{
  color: #fff;
}
#menu-icon{
  font-size: 3.6rem;
  display: none;
}
/* VIDEO */
.video .btn{
  padding-left: 5.6%;
  padding-top: 25%;
  padding-bottom: 10%;
  position: absolute;
}
.video .btn a {
  padding: 9px 30px;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-right: 14px;
}
.video .btn .btn1 {
  background-color: transparent;
  color: #fff;
  justify-content: center;
  font-size: 20px;
}
.video .btn .btn1:hover {
  background-color: #b200fc;
  color: #fff;
  transition: all 0.3s linear;
}

/* why_cyberlearnsafely */
.why_cyberlearnsafely {
  background-color: rgb(255, 255, 255);
  padding: 30px 0;
  text-align: center;
  letter-spacing: 1px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why_cyberlearnsafely-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.cards {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(172, 170, 170, 0.5);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 22rem;
  height: 20rem;
}
.cards:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(38, 8, 146, 0.5);
}
.cards-img {
  width: 100%;
  height: 50%;
  object-fit: fill;
}
.cards-img img {
  width: 100%;
  height: 130%;
  object-fit: fill;
  justify-content: center;
}
.cards-name {
  padding-top: 50px;
  font-family: Georgia, serif;
  font-size: 1.8rem;
  margin: 10px 0;
}
.cards-role {
  padding-top: 6%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 8%;
  font-size: 16px;
  color: #2d2adf;
  margin: 5px 0;
  font-weight: normal;
}
.btn3 {
  background-color: transparent;
  padding-top: 200%;
  padding-bottom: 100%;
  padding-left: 100%;
  padding-right: 100%;
}

/* Our Course */
.course {
  background-color: rgb(255, 255, 255);
  padding: 30px 0;
  text-align: center;
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(172, 170, 170, 0.5);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 20rem;
  height: 28rem;
  margin-top: 10px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(38, 8, 146, 0.5);
}
.card-img {
  width: 22rem;
  height: 35%;
  object-fit: fill;
}
.card-img img {
  width: 100%;
  height: 130%;
  object-fit: fill;
  justify-content: center;
}
.card-name {
  padding-top: 65px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Georgia, serif;
  font-size: 18px;
  margin: 10px 0;
}
.card-role {
  padding-top: 6%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom:  8%;
  font-size: 15px;
  color: #2d2adf;
  margin: 5px 0;
  font-weight: normal;
  text-align: justify;
}
section .btn3 {
  background-color: transparent;
  padding-top: 200%;
  padding-bottom: 100%;
  padding-left: 100%;
  padding-right: 100%;
}

/* Projects */
.Projects {
  background-color: rgb(255, 255, 255);
  padding: 30px 0;
  text-align: center;
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Projects-containe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  margin-top: 20px;
}
.Projects-box {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(172, 170, 170, 0.5);
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 25rem;
  height: 18rem;
  margin-top: 10px;
}
.Projects-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(38, 8, 146, 0.5);
}
.name {
  padding-top: 5%;
  font-size: 2rem;
  margin: 10px 0;
  font-size: 22px;
}
.role {
  padding-top: 8%;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom:  8%;
  font-size: 16px;
  color: #2d2adf;
  margin: 5px 0;
  font-weight: normal;
  text-align: justify;
}
section .btn4 {
  background-color: transparent;
  padding-top: 200%;
  padding-bottom: 100%;
  padding-left: 100%;
  padding-right: 100%;
}

/* Review */
.review {
  background-color: rgb(255, 255, 255);
  padding: 30px 0;
  text-align: center;
  letter-spacing: 1px;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* About */
.about{
  padding-top: 5%;
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h2{
  padding-left: 3%;
  padding-top: 2%;
  padding-right: 3%;
  font-size: 16px;
  padding-bottom: 2.5%;
  text-align: justify;
}

/* Location */
.location{
  padding-top: 5%;
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location .locat{
  padding-top: 2%;
}

/* Footer section start */
.footer{
  padding-top: 4%;
  text-align: center;
  background: var(--black);
}
.footer .share a{
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.5rem;
  background: #eee;
  color: var(--black);
  border-radius: 50%;
  font-size: 1.7rem;
  margin: .2rem;
}
.footer .share a:hover{
  color: #fff;
  background: var(--gradient);
}
.footer .credit{
  color: #eee;
  padding: 1rem 0.5rem;
  font-weight: normal;
  font-size: 1.5rem;
}
.footer .credit span{
  color: var(--red);
}

/* medis queries */
@media (max-width: 1200px){
  html{
    font-size: 90%;
  }
}
@media (max-width:991px){
  html{
    font-size: 55%;
  }
  header{
    padding: 2rem 4%;
  }
  section{
    padding: 3rem 4%;
  }
  .services{
    padding: 7rem;
  }
  .course{
    padding-bottom: 7rem;
  }
  .about{
    min-height: auto;
  }
  .contact{
    min-height: auto;
  }
  .footer{
    padding: 2rem 3%;
  }
}
@media (max-width:768px){
  #menu-bar{
    display: block;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    border-top: .1rem solid #fff3;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar .nav-toggle{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a{
    display: block;
    margin: 1.5rem 0;
    padding: 1rem;
    background: var(--gradient);
    text-align: center;
    border-radius: .5rem;
  }
  header .navbar a:hover{
    color: var(--black);
  }
  .fa-times{
    transform: rotate(180deg);
  }
  .home .content h3{
    font-size: 4rem;
  }
  .home .content p{
    font-size: 1.5rem;
  }
  .why_cyberlearnsafely .why_cyberlearnsafely-cards .cards .cards-info .cards-name{
    padding-top: 12%;
  }
  .course .course-cards .card{
    height: 1%;
    width: 65%;
  }
  .course .course-cards .card .card-img{
    width: 100%;
  }
  .course .course-cards .card .card-info .card-name{
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10%;
  }
  .Projects .Projects-containe .Projects-box{
    height: 20%;
  }
  .location .locat .map .google-map{
    justify-content: center; 
    align-items: center; 
    display: flex;
    width: 100px;
  }
}
@media (max-width:400px){
  html{
    font-size: 50%;
  }
  .heading{
    font-size: 4rem;
  }
  .location .locat .map .google-map{
    justify-content: center; 
    align-items: center; 
    display: flex;
  }
}